body {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(208, 48%, 95%);
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 130%;
}

.container {
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width: 250px;
  --s: 150px;
  --_g: #0000 90deg, #046d8b 0;
  background: conic-gradient(from 116.56deg at calc(100%/3) 0 ,var(--_g)),
  conic-gradient(from -63.44deg at calc(200%/3) 100% ,var(--_g)) #2fb8ac;
  background-size: var(--s) var(--s);

  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.heading h1 {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #3f2b96;
  font-size: 1.5rem;
}

.form input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #3f2b96;
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: hsla(254, 91%, 5%, 0.7);
  width: 70%;
  margin-bottom: 20px;
}

button {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #ffeaa7;
}
button span {
  background: #f1f5f8;
  display: block;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
  font-size: 1.2rem;
  transition: transform 0.2s ease-in-out;
}

button span:hover {
  transform: translateY(3px);
}

li {
  text-align: left;
  position: relative;
  padding: 0.5rem;
}


.footer {
  position: relative;
}

.footer>p {
 position: fixed;
  bottom: 0;
  margin: auto;
  font-size: 1rem;
  color: #ccc;
}
.todoItem:hover {
  cursor: crosshair;
}
